* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    background-color: #f9fbfc;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600 !important;
}

h6 {
    font-weight: 300 !important;
    letter-spacing: 1px;
}

p {
    font-size: 0.8rem;
    color: #3d586b;
    font-weight: 300;
}

.turqueza {
    color: #00cda6;
}

.boton {
    background-color: #F23D5E;
    color:#fff;
    border-radius: 100px;
    padding: 15px 30px;
    box-shadow: 5px 5px 20px 3px rgba(84, 84, 87, 0.5);
}

.boton-outline {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 100px;
    color:#fff;
    padding: 15px 30px;
}


/*Menu*/
.contenedor-lista-menu {
    width: 100%;
}

.nav-link {
    color:#fff !important;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-shadow: 0px 12px 30px -8px rgba(90.99999999999967, 0, 255, 0.6);
}

.bg-menu {
    background-color: #210c6e;
}


/*Banner*/
.bg-banner {
    background: #562abd;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #562abd);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #210c6e, #562abd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    position: relative;
}

.bg-imagen {
    background-image: url("../img/bg-formas.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: 0 !important;
    top: 0;
    animation: show 3s ease;
    filter: brightness(2) blur(0px);
    opacity: .5;
}

@keyframes show {
    0% {
        opacity: 0;
        filter:blur(90px)
    }
    50% {
        opacity: .4;
        filter: brightness(1) blur(50px);
    }
    100% {
        opacity: .5;
        filter: brightness(2) blur(0px);
    } 
}

.front {
    position: relative;
    z-index: 99;
}

.row-banner {
    width: 100%;
    color:#fff;
}

.contenedor-titulos {
    margin: 0 auto;
    width: 90%;
}

.animacion {
    animation-duration: 3s;
    animation-name: slide;
}
@keyframes slide {
    0% {
        transform: translateX(-250%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    } 
}

.animacion2 {
    animation-name: slide2;
}
@keyframes slide2 {
    0% {
        transform: translateX(-350%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    } 
}

.label {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 70%;
    opacity: .5;
    letter-spacing: 1px;;
}

.icono {
    font-size: 1rem;
    color: #fff;
    margin: 10px;
}

.circle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center !important;
    justify-content: center;
    margin-left: 15px;
}

.circle:hover {
    opacity: .5;
}

.bg-purple {
    background: #5b00ff;
    box-shadow: 0px 12px 30px -8px rgba(90.99999999999967, 0, 255, 0.6);
    border-radius: 100px;
}

.bg-green {
    background: #00b793;
    box-shadow: 0px 12px 30px -8px 	rgba(0,183,147,0.6);
    border-radius: 100px;
}

.bg-yellow {
    background: #facb32;
    box-shadow: 0px 12px 30px -8px rgba(250,203,50,0.8);
    border-radius: 100px;
}

.bg-red {
    background: #F23D5E;
    box-shadow: 0px 12px 30px -8px 	rgba(242,61,94,0.6);
    border-radius: 100px;
}

.tarjeta {
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 20px 3px rgb(220, 220, 225, 0.4);
    border: 1px solid rgba(255, 255, 255, 1);
}


/*Seccion educacion experiencia*/
.bg-seccion-ed-ex {
    background-color:rgba(90.99999999999967, 0, 255, 0.03);
    background-image: url("../img/bg-formas.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion-ed-ex {
    backdrop-filter: blur(60px);
}

.accordion-button {
    font-size: 1.1rem;
    font-weight: 700;
}

.accordion-button {
    background: rgba(90.99999999999967, 0, 255, 0.5) !important;
    color:#fff !important;
    border-radius: 10px !important;
    margin: 5px 0;
}

.accordion-button:not(.collapsed) {
    color:#fff !important;
    background: #5b00ff !important;
}

.accordion-item {
    border: none;
    box-shadow: 5px 5px 20px 3px rgb(220, 220, 225, 0.6);
    border-radius: 10px !important;
}


/*Breakpoints*/
@media (min-width:768px){
    .bg-menu {
        background-color: transparent;
    }
    .icono {
        font-size: 1.5rem;
    }
    
    .circle {
        width: 60px;
        height: 60px;
    }
}
